streamlit
pandas
numpy
plotly
requests
openpyxl
yfinance
nsepython
matplotlib
nltk
wordcloud
streamlit-aggrid
streamlit-lottie
reportlab
fpdf
google-generativeai
prophet
pandas-datareader
ta
ipython
seaborn
