pandas
streamlit
pandas-datareader
prophet
google-generativeai
streamlit-lottie
reportlab
fpdf
streamlit-aggrid
ipython
wordcloud
matplotlib
seaborn
nltk
openpyxl
yfinance
numpy
datetime
plotly==4.14.3
